<h2>ユーザー一覧</h2>
<% @users.each do |user| %>
  <%= user.name %>
  <%= profile_img(user) %>
  <%= link_to "ユーザーページ", user_path(user.id), class: "btn btn-default btn-success btn-sm" %>
  <div id= <%= "follow_form_#{user.id}" %> >
    <%= render partial: "relations/follow_form", locals: {my_followed_id: user.id} %>
  </div>
<% end %>