<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>イメージ:</strong>
  <%= image_tag @picture.image_url(:thumb) %>
  <!--<%= @picture.image %>-->
</p>

<p>
  <strong>ユーザー名:</strong>
  <%= @picture.user.name %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @picture.content %>
</p>

<%= link_to '投稿編集', edit_picture_path(@picture) %> |
<%= link_to '戻る', pictures_path %>

<h4>コメント一覧</h4>
<div id="comments_index">
  <%= render partial: "comments/index", locals: {comments: @comments, picture: @picture} %>
</div>
<div id="comments_form">
  <%= render partial: "comments/form", locals: {comment: @comment, picture: @picture} %>
</div>
